<!DOCTYPE html>
<html lang="en">
<head>

<!--Navigation Bar-->
	<%- include('./partials/nav-bar.ejs') %>

	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="about.css">
</head>	
<body id="wrapper">
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Welcome to Stinger.</h3>
					<p>Stinger is a place where you can make a jab at others, as long as you don't mind getting poked back. We created Stinger to make a fun environment
						where things aren't taken too seriously. Happy stinging!
					</p>
				</div>
			</div>
			<div class="image-section">
				<img src="aboutimage.png">
			</div>
		</div>
	</div>

	
</body>
</html>