<!DOCTYPE html>
<html lang="en">
<head>

    <%#Navigation Bar%>
    <%- include('./partials/nav-bar.ejs') %>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Stinger </title>

    <h1>Stinger</h1>
    <hr>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%#The example posts in the home page%>


    <p> 9/20/21 3:00 PM <br>
        <form action='profile1'><input type="submit" value="@GoneLikeJackDorsey" /></form><br>
        Hey, I just found this website that allows you to generate domain names. I think its pretty sick. Now I don’t have to come up with names on my own anymore.
        Link: https://www.nameboy.com/</p>

    <hr>
    <script src="script.js"></script>

</body>
<%- include('./partials/footer.ejs') %>

</html>