<!DOCTYPE html>
<html lang="en">
<head>

<%#Navigation Bar%>
    <header>  
    <nav>  
    <ul>  
    <li>  
    <a href='index'>Home</a>  
    </li>  
    <li>  
    <a href='login'>Login</a>  
    </li>  
    <li>  
    <a href='contact'>Contact</a>  
    </li>  
    <li> 
    <a href='about'>About</a>
    </li>  
    </ul>  
    </nav>  
    </header>  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stinger: Login</title>
    <link rel="stylesheet" href="log.css">
</head>
<body>
<h1 id='stinger'>Stinger</h1>
<h2 id='statement'>Welcome back.</h2>
<p id='headline'>Don't miss your opportunity to sting more people.</p>
<form>
    <p id='username'>Username:</p>
    <input type='text' id='userbox' name='username'><br>
    <p id='password'>Password:</p>
    <input type='text' id='passcode' name='password'><br><br>
    <button id='login_button'>Log in</button><br>
    <p id='sentence'>Forgot password?</p>
    <a id='sentence' href='signup'>New to Stinger? Join us here.</p>
</form>

</body>

</html>