<!DOCTYPE html>
<html lang="en">
<head>

    <%#Navigation Bar%>
    <header>  
    <nav>  
    <ul>  
    <li>  
    <a href='index'>Home</a>  
    </li>  
    <li>  
    <a href='login'>Login</a>  
    </li>  
    <li>  
    <a href='contact'>Contact</a>  
    </li>  
    <li> 
    <a href='about'>About</a>
    </li>  
    </ul>  
    </nav>  
    </header>  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Stinger: Profile </title>
    <h1 id='profile_text'style= "text-align: left">Stinger: Your profile</h1>
    <div id='background'>
    **<h1 id='photo_text'>Insert photo</h1> 
    <img id='photo'>
    </div>
    <hr>
    <link rel="stylesheet" href="page.css">
</head>
<body>

<%#Sample Profile Page%>

<h2 style= "text-align: left">Name: Frank Deamatro</h2>   
<h1 style= "text-align: left">User Name: @FrankfurterDeamatro</h1> 
<p>Born March 16th, 2000                              Joined April 6th, 2016</p>


<h1 style= "text-align: left">See your posts!</h1>
<hr>
<p>Post 1: 25 minutes ago</p>
<p>Hey I found a website you can use to prank your friends or just have fun! It changes the url of any website to say anything you want. Check it out! Its sgsg.com</p>Hey I found a website you can use to prank your friends or just have fun! It changes the url of any website to say anything you want. Check it out! Its sgsg.com</p>
<p>Post 2: 5 days ago</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante diam, ullamcorper ac vulputate ac, molestie ac est. Fusce nec lacus et lectus semper lobortis. Sed tempor efficitur lobortis.</p>
<p>Post 3: 2 weeks ago</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante diam, ullamcorper ac vulputate ac, molestie ac est. Fusce nec lacus et lectus semper lobortis. Sed tempor efficitur lobortis. </p>
<p>Post 4: 3 weeks ago</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante diam, ullamcorper ac vulputate ac, molestie ac est. Fusce nec lacus et lectus semper lobortis. Sed tempor efficitur lobortis. </p>


<hr>
<img src="../wasp.png" alt="Stinger" height=100>
<script src="../script.js"></script>

</body>
</html>