<!DOCTYPE html>
<html lang="en">
<head>

    <%#Navigation Bar%>
    <%- include('./partials/nav-bar.ejs') %>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stinger: Sign Up</title>
    <link rel='stylesheet' href='signup.css'>
</head>
<body>
    <br>
    <h1 id='stinger'>Stinger</h1>
<%#The login boxes to sign up within the website%>
    <h2 id='statement'>Welcome to Stinger. Get ready to sting.</h2>
    <form>
        <p id='username'>Username:</p>
        <input type='text' id='userbox' name='username'><br>
        <p id='password'>Password:</p>
        <input type='text' id='passcode' name='password'><br><br>
        <button id='signup_button'>Sign Up</button><br><br>
        <a id='login' href='login'>Already a member? Log in here.</a>
    </form>
    
</body>
</html>
