#profile_text{
    text-align: left;
}
#background{
    background-image: url(background-image.png);
    background-size: cover;
    height:100px;
    padding-top:80px;
}
#photo_text{
    text-align: left;
    color: black;
}
#photo{
    position: relative;
    top: 20px;
    left: 15px;
    height: 100px;
    padding: 125px;
}
hr{
    margin-top: 50px;
}

a {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    color: orange;
    height: 30px;
  }

a:link {
    text-decoration: none;
}

header {  
    background-color: rgb(112, 75, 7);  
    position: fixed;  
    left: 300px;  
    right: 300px;  
    top: 0px;  
    height: 20px;  
    display: solid;  
    align-items: center;  
}  

header * {  
    display: inline;
}  

header li {  
    margin: 60px;  
}  