<header>  
  <nav>  
  <ul>  
  <li>  
  <a id='navbar', href='index'>Home</a>  
  </li>  
  <li>  
  <a id='navbar', href='login'>Login</a>
  </li>
  <li>  
  <a id='navbar', href='contact'>Contact</a>  
  </li>  
  <li> 
  <a id='navbar', href='about'>About</a>
  </li>  
  </ul>  
  </nav>  
  </header>